dist-newstyle/
dist/

*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

.cabal-sandbox/
cabal.sandbox.config

.hpc
*.tix

.stack-work/

.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.run.xml
*-blx.bib